@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html, body {
  background-color: #00c0ff;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  overflow: hidden;
}

#header {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0px;
  padding: 2rem 0rem 0rem 0rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

#return img {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  /*cursor: pointer;*/
  z-index: 50;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  opacity: .5;
  transition: all 250ms ease-in-out;
}

#return img:hover {
  opacity: 1;
}

.buttons {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 3rem;
  text-align: center;
  font-weight: 400;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.photo {
  width: 300px;
  height: 300px;
  border: 4px solid white;
  transition: all 250ms ease-in-out;
}

.buttons a {
  text-decoration: none;
}

.photo:hover {
  opacity: .80;
}

#videoA .photo {
  background-image: url("http://www.placecage.com/300/300");
  background-size: cover;
  background-color: white;
}

#videoB .photo {
  background-image: url("http://www.stevensegallery.com/300/300");
  background-size: cover;
  background-color: white;
}

#videoC .photo {
  background-image: url("https://www.fillmurray.com/300/300");
  background-size: cover;
  background-color: white;
}

#videobg {
  background-color: tomato;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 20;
}
